<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row" style="background-color:cornflowerblue;">
    <div class="col-lg-12" id="scrollingRssFeeds" style="color:white;background-color:cornflowerblue;font-weight:bold;padding:10px;">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>

        <script type="text/javascript">

            rssFeedsManager = {
                globalTimer: null,

                ScreenPrinter: function (rssTop10Feeds) {
                    var index = 0;
                    var indexCarat = 0;
                    var myTimed = null;

                    function writeContent(index, indexCarat, rssTop10Feeds) {
                    
                    if (indexCarat === rssTop10Feeds[index].Description.length)
                    {
                        $('#scrollingRssFeeds').html("");
                        index++;
                        indexCarat = 0;
                    }
                    else
                    {
                        indexCarat++;
                        var theMessageCarate = (rssTop10Feeds[index].Description.substring(0, indexCarat));
                        $('#scrollingRssFeeds').html(theMessageCarate + '_');
                    }
                    if (index >= rssTop10Feeds.length) {
                        $('#scrollingRssFeeds').html("");
                        rssFeedsManager.clearTimed(myTimed);
                        return;
                    }

                    rssFeedsManager.clearTimed(myTimed);
                    myTimed = setTimeout(writeContent, 70, index, indexCarat, rssTop10Feeds);
                }

                writeContent(index,indexCarat,rssTop10Feeds);

                },
                clearTimed :function(timer){
                    if (timer) {
                        clearTimeout(timer);
                    }
                },
                feedsInit: null,

                initiateRssScrolls: function () {
                    var rssFeedsUrlEndPoint = '/api/RssFeeds/PostRssFeeds';
                    
                    $.ajax({
                        url: rssFeedsUrlEndPoint,
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify("http://feeds.bbci.co.uk/news/world/rss.xml"),
                        success: function (dat, status, xHRq) {
                                var rssTop10Feeds = dat.RssFeed.Items;
                                if (rssTop10Feeds.length > 30) {
                                    rssTop10Feeds = rssTop10Feeds.splice(0, 30);
                                }

                                rssFeedsManager.ScreenPrinter(rssTop10Feeds);
                                if (rssFeedsManager.globalTimer) {
                                    clearTimeout(rssFeedsManager.globalTimer);
                                }
                                rssFeedsManager.globalTimer = setTimeout(rssFeedsManager.initiateRssScrolls, 65000);
                        },
                        error: function (xHRq) {
                        }
                    });
                }
            }

            $(document).ready(function () {

                rssFeedsManager.initiateRssScrolls();
            });
        </script>
